
.lt_main input{
    width: 100%;
    height: 34px;
    border-radius: 10px;
    line-height: 34px;
    border: 1px solid #007aff;
    font-size: 14px;
    position: relative;
    margin:0;
}
.lt_main .search{
    padding: 10px;
}
.history{
    padding: 10px;
}
.btn-search{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0 5px 5px 0;
}
.history .title span{
    font-size: 12px;
    color:#666;
}
.content ul{
    padding: 0;
    margin: 0;
    list-style: none;
    border: 1px dashed skyblue;
}
.content ul li{
    height: 30px;
    border-bottom: 1px dashed skyblue;
    line-height: 30px;
    text-indent: 5px;
    font-size: 14px;
}

.content ul li a{
    color:#666;
}
.content ul li  i{   
    line-height: 30px;
}
.content ul li:last-child{
    border-bottom: none;
}